@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


  ::-webkit-scrollbar{
    width: 0.3em;
  }

  ::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 100vw;
  }


  ::-webkit-scrollbar-thumb{
    background-color: #868e96;
    border-radius: 100vw;
  }



